.footer{
    background-color: $color_white;
    .footer--img{
        @include flexCenter;
        background: url(../img/beach.webp) no-repeat 50%;
        background-size: cover;
        width: 100%;
        min-height: 55rem;
        -webkit-filter: brightness(70%);
        filter: brightness(70%);
        margin-top: 5rem;
        @media (max-width: 575.98px) {
            min-height: 15rem;
        }
        @media (min-width: 576px) and (max-width: 767.98px) {
            min-height: 35rem;
        }
        @media (min-width: 768px) and (max-width: 991.98px) {
            min-height: 35rem;
        }
        h2 {
            font-size: 5rem;
            line-height: .9;
            text-transform: uppercase;
            font-family: "Playfair Display",serif;
            color: $color_pink;
            @media (max-width: 575.98px) {
                font-size: 1.5rem;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                font-size: 3rem;
            }
            @media (min-width: 768px) and (max-width: 991.98px) {
                font-size: 3rem;
            }
        }
    }
    .footer--counter{
        background: linear-gradient(to right,#ff2f8b,#9035f9);
        width: 60%;
        margin: 0 auto;
        border-radius: .5rem;
        position: relative;
        bottom: 4rem;
        @media (max-width: 575.98px) {
            width: 95%;
        }
        .footer--contact{
            padding: 1rem;
            .c--custom--2 {
                max-width: 88rem;
            }
            .contact--title{
                h2, p{
                    color: $color_white;
                }
            }
        }
        .contact--info{
            @include flexCenter;
            @media (max-width: 575.98px) {
                margin-top: 3rem;
                flex-direction: column;
                margin-bottom: 3rem;
            }
            h4{
                color: $color_white;
            }
        }
    }
    .footer--contents{
        @include flexCenter;
        padding: 0 0 2.5rem 0;
        @media (max-width: 991.98px) {
            flex-direction: column;
        }
        .footer--copyright{
            text-align: center;
            @media (min-width: 992px) and (max-width: 1299.98px) {
                width: 35%;
            }
            p{
                color: $color_black;
                i{
                    color: $color_pink;
                }
            }
        }
    }
}