.header{
    background-color: $color_white;
    transition: all 0.5s ease 0s;
    .c--custom {
        max-width: 88rem;
    }
    .header--nav{
        #brand{
            width: 16rem;
        }
        .menu{
            @include flexCenter;
            justify-content: space-evenly;
            a{
                color: $color_black;
                &:hover{
                    color: $color_pink;
                }
            }
            i{
                &:hover{
                    color: $color_pink;
                }
            }
            .avatar {
                display: -webkit-inline-flex;
                display: inline-flex;
                border-radius: 0.375rem;
                background-color: #adb5bd;
                -webkit-align-items: center;
                align-items: center;
                -webkit-justify-content: center;
                justify-content: center;
            }
            .avatar, .avatar img {
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%!important;
            }
        }
    }
}
