.hero{
    background-image: url(../img/banner.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .hero--top{
        @include flexCenter;
        min-height: 55rem;
        .top{
            width: 65%;
            margin-bottom: 30rem;
            @media (max-width: 575.98px) {
                width: 90%;
            }
            
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 85%;
            }
            
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 85%;
            }
            h1{
                color: $color_white;
                @media (max-width: 575.98px) {
                    font-size: 2rem;
                }
                span{
                    color: $color_darkblue;
                    font-family: "Playfair Display",serif;
                }
            }
            p{
                color: $color_white;
                @media (max-width: 575.98px) {
                    font-size: 1rem;
                }
                span{
                    color: $color_purple;
                    border-bottom: .1rem solid $color_purple;
                }
            }
            .slick-dots{
                bottom: -25rem;
                li {
                    margin: 0 10px;
                    button{
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        margin: 0 5px;
                        opacity: .9;
                        &::before {
                            font-size: 1.25rem;
                        }
                    }
                }
                li.slick-active button{
                    opacity: 1;
                }
                li.slick-active button:before{
                    color: white;
                }
            }
        }
    }
}