.offers{
    .c--custom {
        max-width: 88rem;
    }
    .offer--cards{
        margin: 3rem 0;
        @include flexCenter;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 575.98px) {
            flex-wrap: wrap;
        }
        
        @media (min-width: 576px) and (max-width: 767.98px) {
            flex-wrap: wrap;
        }
        
        @media (min-width: 768px) and (max-width: 991.98px) {
            flex-wrap: wrap;
        }
        .card--single{
            width: 28%;
            border-radius: 1.5rem;
            text-align: center;
            padding: 5rem 3rem 5rem 3rem;
            position: relative;
            margin-bottom: 4rem;
            border: 1px solid #eee;
            &:hover{
                border: 1px solid transparent;
                box-shadow: 0 5px 50px rgba(129,74,255,0.2);
            }
            @media (max-width: 575.98px) {
                width: 75%;
                margin: 0 auto;
            }
            
            @media (min-width: 576px) and (max-width: 767.98px) {
                width: 35%;
                margin: 0 auto;
            }
            
            @media (min-width: 768px) and (max-width: 991.98px) {
                width: 35%;
                margin: 0 auto;
            }
            @media (max-width: 320px) {
                width: 90%;
            }
            @media (min-width: 321px) and (max-width: 376px) {
                width: 80%;
            }
            .card--img{
                @include flexCenter;
                background: #f7f9fd;
                padding: 40px;
            }
            button{
                background: $color_white;
                padding: .8rem 2rem;
                border-radius: 2rem;
                position: absolute;
                border: 1px solid $color_pink;
                bottom: -2rem;
                margin-left: auto;
                margin-right: auto;
                left: 50%;
                right: 50%;
                text-align: center;
                transform: translateX(-50%);
                width: 15rem;
                transition: all 0.3s ease-in-out;
                a{
                    background-image: linear-gradient(to right,#ff2f8b,#9035f9);
                    color: transparent;
                    background-clip: text;
                    span{
                        img{
                            transition: all .3s ease-in-out;
                            width: 2.5rem;
                        }
                    }
                    &:hover{
                        color: $color_purple;
                        span{
                            img{
                                transform: translateX(1rem);
                            }
                        }
                    }
                }
            }
        }
    }
}