@charset "UTF-8";
@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/Nexa-Bold.otf");
}

@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/Nexa-Light.otf");
}

:root {
  --color_white: #FFFFFF;
  --color_green: #03C952;
  --color_pink: #D831B2;
  --color_purple: #9035F9;
  --color_lightblue: #010102;
  --color_blue: #130035;
  --color_darkblue: #12002A;
  --color_black: #000000;
  --font1: 'NexaBold', sans-serif;
  --font2: 'NexaLight', sans-serif;
}

.header {
  background-color: var(--color_white);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .c--custom {
  max-width: 88rem;
}

.header .header--nav #brand {
  width: 16rem;
}

.header .header--nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .header--nav .menu a {
  color: var(--color_black);
}

.header .header--nav .menu a:hover {
  color: var(--color_pink);
}

.header .header--nav .menu i:hover {
  color: var(--color_pink);
}

.header .header--nav .menu .avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.375rem;
  background-color: #adb5bd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header--nav .menu .avatar, .header .header--nav .menu .avatar img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50% !important;
}

.hero {
  background-image: url(../img/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero .hero--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 55rem;
}

.hero .hero--top .top {
  width: 65%;
  margin-bottom: 30rem;
}

@media (max-width: 575.98px) {
  .hero .hero--top .top {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--top .top {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--top .top {
    width: 85%;
  }
}

.hero .hero--top .top h1 {
  color: var(--color_white);
}

@media (max-width: 575.98px) {
  .hero .hero--top .top h1 {
    font-size: 2rem;
  }
}

.hero .hero--top .top h1 span {
  color: var(--color_darkblue);
  font-family: "Playfair Display",serif;
}

.hero .hero--top .top p {
  color: var(--color_white);
}

@media (max-width: 575.98px) {
  .hero .hero--top .top p {
    font-size: 1rem;
  }
}

.hero .hero--top .top p span {
  color: var(--color_purple);
  border-bottom: 0.1rem solid var(--color_purple);
}

.services {
  border-radius: .75rem;
  padding: 1rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .services {
    width: 21.875rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .services {
    width: 21.875rem;
  }
}

.services img {
  width: 4rem;
}

.services .serve-extra p i {
  font-size: 0.875rem;
}

.offers .c--custom {
  max-width: 88rem;
}

.offers .offer--cards {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 575.98px) {
  .offers .offer--cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offers .offer--cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .offers .offer--cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.offers .offer--cards .card--single {
  width: 28%;
  min-width: 24rem;
  border-radius: 1.5rem;
  text-align: center;
  padding: 2rem;
  padding-bottom: 5rem;
  position: relative;
  margin-bottom: 4rem;
  border: 1px solid #eee;
}

.offers .offer--cards .card--single:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
          box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
}

@media (max-width: 575.98px) {
  .offers .offer--cards .card--single {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offers .offer--cards .card--single {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .offers .offer--cards .card--single {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
}

@media (max-width: 320px) {
  .offers .offer--cards .card--single {
    width: 90%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .offers .offer--cards .card--single {
    width: 80%;
  }
}

.offers .offer--cards .card--single .card--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f9fd;
}

.offers .offer--cards .card--single .card--img img {
  width: 100%;
  height: 10rem;
}

.offers .offer--cards .card--single button {
  background: var(--color_white);
  padding: .8rem 2rem;
  border-radius: 2rem;
  position: absolute;
  border: 1px solid var(--color_pink);
  bottom: -2rem;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.offers .offer--cards .card--single button a {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff2f8b), to(#9035f9));
  background-image: linear-gradient(to right, #ff2f8b, #9035f9);
  color: transparent;
  background-clip: text;
}

.offers .offer--cards .card--single button a span img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 2.5rem;
}

.offers .offer--cards .card--single button a:hover {
  color: var(--color_purple);
}

.offers .offer--cards .card--single button a:hover span img {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.offers .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 4.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
}

.offers .fc-input {
  padding-left: 3.375rem;
}

.page {
  min-height: 55rem;
  padding-bottom: 7rem;
  background: none;
}

.page .page--title {
  padding: 6.5rem 0 2rem 0;
}

.page .page--title h2 {
  position: relative;
  right: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page .page--title h2 .line-1, .page .page--title h2 .line-2 {
  display: inline;
  position: absolute;
  content: "";
  width: 32rem;
  height: 0.2rem;
  top: .95rem;
  background: -webkit-gradient(linear, right top, left top, from(#ffffff00), to(#9994F0));
  background: linear-gradient(right, #ffffff00 0%, #9994F0 100%);
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(#9994f0));
  background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, #9994f0 100%);
}

@media (max-width: 575.98px) {
  .page .page--title h2 .line-1, .page .page--title h2 .line-2 {
    width: 9rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .page .page--title h2 .line-1, .page .page--title h2 .line-2 {
    width: 23rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page .page--title h2 .line-1, .page .page--title h2 .line-2 {
    width: 23rem;
  }
}

@media (max-width: 320px) {
  .page .page--title h2 .line-1, .page .page--title h2 .line-2 {
    width: 4.5rem;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .page .page--title h2 .line-1, .page .page--title h2 .line-2 {
    width: 6.5rem;
  }
}

@media (min-width: 355px) and (max-width: 366px) {
  .page .page--title h2 .line-1, .page .page--title h2 .line-2 {
    width: 6rem;
  }
}

.page .page--title h2 .line-1 span, .page .page--title h2 .line-2 span {
  position: absolute;
  top: -0.15rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color_purple);
}

.page .page--title h2 .line-1 {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff00), to(#9994F0));
  background: linear-gradient(left, #ffffff00 0%, #9994F0 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#9994f0));
  background: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #9994f0 100%);
}

.page .page--title h2 .line-1 span {
  right: 0;
}

.page .page--title h2 .line-2 {
  right: 0;
  border: 0;
}

.page .page--title h2 .line-2 span {
  left: 0;
}

.page .page--top {
  min-height: auto;
}

.page .page--top .banner {
  border-radius: 1.2rem;
}

@media (max-width: 575.98px) {
  .page .page--top .banner {
    width: 25rem;
  }
}

@media (max-width: 320px) {
  .page .page--top .banner {
    width: 22rem;
  }
}

@media (max-width: 991.98px) {
  .page .page--top h1 {
    font-size: 1.5rem;
  }
}

.page .page--top h2 {
  color: var(--color_purple);
}

@media (max-width: 991.98px) {
  .page .page--top h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 320px) {
  .page .page--top p {
    font-size: .93rem;
  }
}

.orders {
  padding: 2rem 0 10rem 0;
}

.orders .c--custom--2 {
  max-width: 88rem;
}

.orders .service--table {
  color: var(--color_black);
}

.orders .service--table .service--card {
  padding: 0 1rem;
  border-radius: .625rem;
}

.orders .service--table .service--card .card--title {
  padding: 0 0 1rem 0;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--title p {
    font-size: 0.72rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--title p {
    font-size: 0.72rem;
  }
}

.orders .service--table .service--card .card--data {
  background: var(--color_lightblue);
  color: var(--color_white);
  border-radius: 0.4rem;
}

.orders .service--table .service--card .card--data .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.orders .service--table .service--card .card--data .profile .platform--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color_white);
  padding: 1rem;
  width: 4rem;
  height: 4rem;
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .profile .platform--icon {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .profile .platform--icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .platform {
    position: relative;
  }
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .platform p {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--data .platform p {
    font-size: .8rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .platform p {
    font-size: .8rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .orders .service--table .service--card .card--data .platform p {
    font-size: 1.125rem;
  }
}

.orders .service--table .service--card .card--data .platform .platform--toggle {
  position: absolute;
  right: .5rem;
  color: var(--color_purple);
}

.orders .service--table .service--card .card--data .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.orders .service--table .service--card .card--data .label p {
  background: var(--color_purple);
  padding: .2rem .5rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--data .label p {
    font-size: .8rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .label p {
    font-size: .8rem;
  }
}

.orders .service--table .service--card .card--data .traffic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--data .traffic p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .traffic p {
    font-size: 1rem;
  }
}

.orders .service--table .service--card .card--data .traffic p .up {
  color: var(--color_green);
}

.orders .service--table .service--card .card--data .traffic p .up:before {
  content: "⮝";
}

.orders .service--table .service--card .card--data .traffic p .down {
  color: var(--color_pink);
}

.orders .service--table .service--card .card--data .traffic p .down:before {
  content: "⮟";
}

.orders .service--table .service--card .card--data .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.orders .service--table .service--card .card--data .price p, .orders .service--table .service--card .card--data .price button {
  background-color: transparent;
  border: none;
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .price p, .orders .service--table .service--card .card--data .price button {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--data .price p, .orders .service--table .service--card .card--data .price button {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .price p, .orders .service--table .service--card .card--data .price button {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .orders .service--table .service--card .card--data .price p, .orders .service--table .service--card .card--data .price button {
    font-size: 1.125rem;
  }
}

.orders .service--table .service--card .card--data .price p span, .orders .service--table .service--card .card--data .price button span {
  color: var(--color_green);
  text-transform: uppercase;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--data .price p span, .orders .service--table .service--card .card--data .price button span {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .price p span, .orders .service--table .service--card .card--data .price button span {
    font-size: 1rem;
  }
}

.orders .service--table .service--card .card--data .store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.orders .service--table .service--card .card--data .store a, .orders .service--table .service--card .card--data .store button {
  background-color: transparent;
  border: none;
  color: var(--color_white);
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .store a, .orders .service--table .service--card .card--data .store button {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .orders .service--table .service--card .card--data .store a, .orders .service--table .service--card .card--data .store button {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .orders .service--table .service--card .card--data .store a, .orders .service--table .service--card .card--data .store button {
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .orders .service--table .service--card .card--data .store a, .orders .service--table .service--card .card--data .store button {
    font-size: 1.125rem;
  }
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .label, .orders .service--table .service--card .card--data .traffic, .orders .service--table .service--card .card--data .price {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .inserted .label, .orders .service--table .service--card .card--data .inserted .traffic, .orders .service--table .service--card .card--data .inserted .price, .orders .service--table .service--card .card--data .inserted .store {
    display: block;
    padding: 0 0.4rem;
    text-align: right;
  }
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .inserted .price p span {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .orders .service--table .service--card .card--data .inserted .headlines {
    width: 50%;
    background: var(--color_purple);
    color: var(--color_white);
    padding: 0.8rem;
  }
}

.comment__card {
  background-color: #0000001a;
  color: #121212;
  width: 100%;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.comment__card .comment__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__card .comment__item .comment__desc {
  width: 100%;
}

.comment__card .comment__item .comment__desc .desc__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.comment__card .comment__item .comment__desc .desc__top .comment__img {
  margin-right: 1rem;
}

.comment__card .comment__item .comment__desc .desc__top .comment__img img {
  width: 4rem;
  height: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.comment__card .comment__item .comment__desc .desc__top .user {
  font-weight: 500;
  text-transform: capitalize;
}

.comment__card .comment__item .comment__desc .desc__top .verified {
  color: green;
  font-size: .875rem;
  font-weight: 700;
  font-style: italic;
  margin-left: 0.5rem;
}

.comment__card .comment__item .comment__desc .desc__top .story-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.comment__card .comment__item .comment__desc .desc__top .story-rating .time {
  margin-left: 1rem;
}

.comment textarea {
  width: 100%;
  background: #fff;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
       user-select: none;
  border: none;
  color: #121212;
  margin: 1rem 0;
  padding: 1.25rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.story-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.story-rating h3 {
  margin-right: 1rem;
}

.story-rating span i {
  font-size: 1.5rem;
  color: green;
}

.login {
  padding: 3.125rem;
}

@media (max-width: 575.98px) {
  .login {
    padding: 0.625rem;
  }
}

.login .login-form {
  width: 36.25rem;
  padding: 1rem 4.0625rem;
  border-radius: .75rem;
  -webkit-box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
          box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
}

@media (max-width: 575.98px) {
  .login .login-form {
    padding: 1.5625rem 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .login .login-form {
    max-width: 30rem;
  }
}

.login .login-form .form .input-field {
  position: relative;
}

.login .login-form .form .input-field input, .login .login-form .form .input-field textarea {
  width: 100% !important;
  padding-left: 2.8125rem !important;
}

.login .login-form .form .input-field .i-envelope {
  position: absolute;
  padding-left: 0.9375rem;
  top: 18px;
}

.login .login-form .form .input-field .i-key {
  position: absolute;
  padding-left: 0.9375rem;
  top: 1.4375rem;
}

.login .login-form .form .input-field .i-user {
  position: absolute;
  padding-left: 0.9375rem;
  top: 1.4375rem;
}

.login .login-form .form .input-field .validation span .i-wrong {
  position: absolute;
  padding-left: 0.9375rem;
  top: -2.8125rem;
  right: 0.75rem;
  color: red;
  font-size: 1.2rem;
}

.login .login-form .form .input-field .validation span .i-right {
  position: absolute;
  padding-left: 0.9375rem;
  top: -2.8125rem;
  right: 0.75rem;
  color: green;
  font-size: 1.2rem;
}

.login .login-form .form .signin-btn {
  width: 100%;
  border-width: 1px solid;
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  color: var(--color_white);
  background-color: var(--color_darkblue);
}

.login .social-login button {
  width: 100%;
  background: var(--color_white);
  border: 1px solid #C7C7C7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.562rem;
  padding: 0.625rem 1.875rem;
}

.intro .thumb--video .video--button {
  background-color: var(--color_white);
  border: none;
}

.intro .thumb--video .video--button .play--button {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(179, 182, 200, 0.51);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro .thumb--video .video--button img {
  border-radius: 1rem;
}

#faq-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 100%;
  text-align: left;
  color: var(--color_black);
  margin-top: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

#faq-btn .title-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

#faq-btn .title-wrapper .minus {
  content: url("../img/minus.svg");
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
}

#faq-btn .title-wrapper .plus {
  content: url("../img/plus.svg");
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  position: absolute;
  right: 0;
}

#faq-btn:hover {
  background-color: var(--color_pink);
}

.active {
  background: -webkit-gradient(linear, left top, right top, from(#ff2f8b), to(#9035f9));
  background: linear-gradient(to right, #ff2f8b, #9035f9);
  color: var(--color_white) !important;
}

.panel-close {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.panel-open {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--color_white);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.about h2 {
  color: var(--color_pink);
}

.about .info--field {
  border-radius: 13px;
  -webkit-box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
          box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
}

.about .map iframe {
  border: 0 !important;
  border-radius: 1rem;
  width: 100%;
  height: 20rem;
}

.footer {
  background-color: var(--color_white);
}

.footer .footer--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/beach.webp) no-repeat 50%;
  background-size: cover;
  width: 100%;
  min-height: 55rem;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  margin-top: 5rem;
}

@media (max-width: 575.98px) {
  .footer .footer--img {
    min-height: 15rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer .footer--img {
    min-height: 35rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .footer--img {
    min-height: 35rem;
  }
}

.footer .footer--img h2 {
  font-size: 5rem;
  line-height: .9;
  text-transform: uppercase;
  font-family: "Playfair Display",serif;
  color: var(--color_pink);
}

@media (max-width: 575.98px) {
  .footer .footer--img h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .footer .footer--img h2 {
    font-size: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer .footer--img h2 {
    font-size: 3rem;
  }
}

.footer .footer--counter {
  background: -webkit-gradient(linear, left top, right top, from(#ff2f8b), to(#9035f9));
  background: linear-gradient(to right, #ff2f8b, #9035f9);
  width: 60%;
  margin: 0 auto;
  border-radius: .5rem;
  position: relative;
  bottom: 4rem;
}

@media (max-width: 575.98px) {
  .footer .footer--counter {
    width: 95%;
  }
}

.footer .footer--counter .footer--contact {
  padding: 1rem;
}

.footer .footer--counter .footer--contact .c--custom--2 {
  max-width: 88rem;
}

.footer .footer--counter .footer--contact .contact--title h2, .footer .footer--counter .footer--contact .contact--title p {
  color: var(--color_white);
}

.footer .footer--counter .contact--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .footer .footer--counter .contact--info {
    margin-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
}

.footer .footer--counter .contact--info h4 {
  color: var(--color_white);
}

.footer .footer--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 2.5rem 0;
}

@media (max-width: 991.98px) {
  .footer .footer--contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer--contents .footer--copyright {
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .footer .footer--contents .footer--copyright {
    width: 35%;
  }
}

.footer .footer--contents .footer--copyright p {
  color: var(--color_black);
}

.footer .footer--contents .footer--copyright p i {
  color: var(--color_pink);
}

.notFound {
  color: #000;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound h2 {
  display: inline-block;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0;
  margin-right: 20px;
  padding: 10px 23px 10px 0;
  font-size: 24px;
  font-weight: 500;
  vertical-align: top;
}

.notFound .bar {
  display: inline-block;
  text-align: left;
  line-height: 49px;
  height: 49px;
  vertical-align: middle;
}

.notFound .bar h3 {
  font-weight: normal;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.page-ul {
  padding: 0.625rem 1.25rem;
  border-radius: 1.5625rem;
  -webkit-box-shadow: 0 0.3125rem 10.3125rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3125rem 10.3125rem rgba(0, 0, 0, 0.2);
}

.page-ul li {
  list-style: none;
  line-height: 3.125rem;
  margin: 0 0.3125rem;
  cursor: pointer;
}

.page-ul li .pageNumber {
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
}

.page-ul li .pageNumber a {
  display: block;
  text-decoration: none;
  color: #383838;
  font-weight: 600;
  border-radius: 50%;
}

.page-ul li .pageNumber:hover a {
  background: #383838;
  color: #C4E7C9;
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-ul .active .page-link {
  background-color: #d831b2;
}

.page-ul .prev a, .page-ul .next a {
  color: #2D2E2F;
  border: none;
  border-color: transparent;
}

.page-ul .prev a:focus, .page-ul .prev a:focus, .page-ul .next a:focus, .page-ul .next a:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-ul:first-child {
  margin-right: 1.875rem;
}

.page-ul:last-child {
  margin-left: 1.875rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: var(--font1);
  background-color: var(--color_white);
  color: var(--color_black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overflowX {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

/*fonts*/
.lit--12 {
  font-family: var(--font2);
  font-size: 0.75rem;
  font-weight: 300;
}

.lit--16 {
  font-family: var(--font2);
  font-size: 1rem;
  font-weight: 300;
}

.lit--20 {
  font-family: var(--font2);
  font-size: 1.25rem;
  font-weight: 300;
}

.lit--22 {
  font-family: var(--font2);
  font-size: 1.375rem;
  font-weight: 300;
}

.bold--13 {
  font-size: 0.8125rem;
  font-weight: 700;
}

.bold--14 {
  font-size: 0.875rem;
  font-weight: 700;
}

.bold--15 {
  font-size: 0.9375rem;
  font-weight: 700;
}

.bold--16 {
  font-size: 1rem;
  font-weight: 700;
}

.bold--17 {
  font-size: 1.0625rem;
  font-weight: 700;
}

.bold--18 {
  font-size: 1.125rem;
  font-weight: 700;
}

.bold--20 {
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--22 {
  font-size: 1.375rem;
  font-weight: 700;
}

.bold--24 {
  font-size: 1.5rem;
  font-weight: 700;
}

.bold--26 {
  font-size: 1.625rem;
  font-weight: 700;
}

.bold--28 {
  font-size: 1.75rem;
  font-weight: 700;
}

.bold--30 {
  font-size: 1.875rem;
  font-weight: 700;
}

.bold--40 {
  font-size: 2.5rem;
  font-weight: 700;
}

.bold--55 {
  font-size: 3.4375rem;
  font-weight: 700;
}

.c--custom {
  max-width: 81.25rem;
}

/* button */
.btn-tag-1 {
  background: var(--color_purple);
  color: var(--color_white) !important;
  padding: 0.8rem 2rem;
  border-radius: .5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.btn-tag-1:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171717), to(#262626));
  background-image: linear-gradient(#171717, #262626);
  color: var(--color_white);
}
/*# sourceMappingURL=style.css.map */