@font-face {
  font-family: 'NexaBold';
  src: url("../fonts/Nexa-Bold.otf");
}

@font-face {
  font-family: 'NexaLight';
  src: url("../fonts/Nexa-Light.otf");
}

:root {
  --color_white: #FFFFFF;
  --color_green: #03C952;
  --color_pink: #D831B2;
  --color_purple: #9035F9;
  --color_lightblue: #010102;
  --color_blue: #130035;
  --color_darkblue: #12002A;
  --color_black: #000000;
  --font1: 'NexaBold', sans-serif;
  --font2: 'NexaLight', sans-serif;
}

.header {
  background-color: var(--color_white);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header .c--custom {
  max-width: 88rem;
}

.header .header--nav #brand {
  width: 16rem;
}

.header .header--nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header .header--nav .menu a {
  color: var(--color_black);
}

.header .header--nav .menu a:hover {
  color: var(--color_pink);
}

.header .header--nav .menu i:hover {
  color: var(--color_pink);
}

.header .header--nav .menu .avatar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.375rem;
  background-color: #adb5bd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header--nav .menu .avatar, .header .header--nav .menu .avatar img {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50% !important;
}

.hero {
  background-image: url(../img/banner.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.hero .hero--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 55rem;
}

.hero .hero--top .top {
  width: 65%;
  margin-bottom: 30rem;
}

@media (max-width: 575.98px) {
  .hero .hero--top .top {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero--top .top {
    width: 85%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .hero .hero--top .top {
    width: 85%;
  }
}

.hero .hero--top .top h1 {
  color: var(--color_white);
}

@media (max-width: 575.98px) {
  .hero .hero--top .top h1 {
    font-size: 2rem;
  }
}

.hero .hero--top .top h1 span {
  color: var(--color_darkblue);
  font-family: "Playfair Display",serif;
}

.hero .hero--top .top p {
  color: var(--color_white);
}

@media (max-width: 575.98px) {
  .hero .hero--top .top p {
    font-size: 1rem;
  }
}

.hero .hero--top .top p span {
  color: var(--color_purple);
  border-bottom: 0.1rem solid var(--color_purple);
}

.services {
  border-radius: .75rem;
  padding: 1rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .services {
    width: 21.875rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .services {
    width: 21.875rem;
  }
}

.services img {
  width: 4rem;
}

.services .serve-extra p i {
  font-size: 0.875rem;
}

.offers .c--custom {
  max-width: 88rem;
}

.offers .offer--cards {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575.98px) {
  .offers .offer--cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offers .offer--cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .offers .offer--cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.offers .offer--cards .card--single {
  width: 28%;
  border-radius: 1.5rem;
  text-align: center;
  padding: 5rem 3rem 5rem 3rem;
  position: relative;
  margin-bottom: 4rem;
  border: 1px solid #eee;
}

.offers .offer--cards .card--single:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
          box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
}

@media (max-width: 575.98px) {
  .offers .offer--cards .card--single {
    width: 75%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .offers .offer--cards .card--single {
    width: 35%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .offers .offer--cards .card--single {
    width: 35%;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .offers .offer--cards .card--single {
    width: 90%;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .offers .offer--cards .card--single {
    width: 80%;
  }
}

.offers .offer--cards .card--single .card--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f9fd;
  padding: 40px;
}

.offers .offer--cards .card--single button {
  background: var(--color_white);
  padding: .8rem 2rem;
  border-radius: 2rem;
  position: absolute;
  border: 1px solid var(--color_pink);
  bottom: -2rem;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.offers .offer--cards .card--single button a {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff2f8b), to(#9035f9));
  background-image: linear-gradient(to right, #ff2f8b, #9035f9);
  color: transparent;
  background-clip: text;
}

.offers .offer--cards .card--single button a span img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 2.5rem;
}

.offers .offer--cards .card--single button a:hover {
  color: var(--color_purple);
}

.offers .offer--cards .card--single button a:hover span img {
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.login {
  padding: 3.125rem;
}

@media (max-width: 575.98px) {
  .login {
    padding: 0.625rem;
  }
}

.login .login-form {
  width: 36.25rem;
  padding: 1rem 4.0625rem;
  border-radius: .75rem;
  -webkit-box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
          box-shadow: 0 5px 50px rgba(129, 74, 255, 0.2);
}

@media (max-width: 575.98px) {
  .login .login-form {
    padding: 1.5625rem 1.25rem;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .login .login-form {
    max-width: 30rem;
  }
}

.login .login-form .form .input-field {
  position: relative;
}

.login .login-form .form .input-field input {
  width: 100%;
  padding-left: 2.8125rem !important;
}

.login .login-form .form .input-field .i-envelope {
  position: absolute;
  padding-left: 0.9375rem;
  top: 18px;
}

.login .login-form .form .input-field span .i-wrong {
  position: absolute;
  padding-left: 0.9375rem;
  top: -2.8125rem;
  right: 0.75rem;
  color: red;
  font-size: 1.2rem;
}

.login .login-form .form .input-field span .i-right {
  position: absolute;
  padding-left: 0.9375rem;
  top: -2.8125rem;
  right: 0.75rem;
  color: green;
  font-size: 1.2rem;
}

.login .login-form .form .input-field .i-key {
  position: absolute;
  padding-left: 0.9375rem;
  top: 1.4375rem;
}

.login .login-form .form .input-field .i-user {
  position: absolute;
  padding-left: 0.9375rem;
  top: 1.4375rem;
}

.login .login-form .form .signin-btn {
  width: 100%;
  border-width: 1px solid;
  border-radius: 0.25rem;
  padding: 0.75rem 2rem;
  color: var(--color_white);
  background-color: var(--color_darkblue);
}

.login .social-login button {
  width: 100%;
  background: var(--color_white);
  border: 1px solid #C7C7C7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3.562rem;
  padding: 0.625rem 1.875rem;
}

.intro .thumb--video .video--button {
  background-color: var(--color_white);
  border: none;
}

.intro .thumb--video .video--button .play--button {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(179, 182, 200, 0.51);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro .thumb--video .video--button img {
  border-radius: 1rem;
}

.footer {
  background-color: var(--color_white);
}

.footer .footer--counter {
  background-color: var(--color_purple);
  width: 60%;
  margin: 0 auto;
  border-radius: .5rem;
  position: relative;
  bottom: 4rem;
}

@media (max-width: 575.98px) {
  .footer .footer--counter {
    width: 95%;
  }
}

.footer .footer--counter .footer--contact {
  padding: 1rem;
}

.footer .footer--counter .footer--contact .c--custom--2 {
  max-width: 88rem;
}

.footer .footer--counter .footer--contact .contact--title h2, .footer .footer--counter .footer--contact .contact--title p {
  color: var(--color_white);
}

.footer .footer--counter .contact--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .footer .footer--counter .contact--info {
    margin-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer--counter .contact--info h4 {
  color: var(--color_white);
}

.footer .footer--contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 2.5rem 0;
}

@media (max-width: 991.98px) {
  .footer .footer--contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .footer--contents .footer--copyright {
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  .footer .footer--contents .footer--copyright {
    width: 35%;
  }
}

.footer .footer--contents .footer--copyright p {
  color: var(--color_black);
}

.footer .footer--contents .footer--copyright p i {
  color: var(--color_pink);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@media (max-width: 575.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1299.98px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1300px) and (max-width: 1531.98px) {
  html {
    font-size: 13px;
  }
}

body {
  font-family: var(--font1);
  background-color: var(--color_white);
  color: var(--color_black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.overflowX {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, select, input, textarea, button {
  outline: none !important;
}

.btn:focus, .btn.focus, .form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
}

/*fonts*/
.lit--12 {
  font-family: var(--font2);
  font-size: 0.75rem;
  font-weight: 300;
}

.lit--16 {
  font-family: var(--font2);
  font-size: 1rem;
  font-weight: 300;
}

.lit--20 {
  font-family: var(--font2);
  font-size: 1.25rem;
  font-weight: 300;
}

.lit--22 {
  font-family: var(--font2);
  font-size: 1.375rem;
  font-weight: 300;
}

.bold--13 {
  font-size: 0.8125rem;
  font-weight: 700;
}

.bold--14 {
  font-size: 0.875rem;
  font-weight: 700;
}

.bold--15 {
  font-size: 0.9375rem;
  font-weight: 700;
}

.bold--16 {
  font-size: 1rem;
  font-weight: 700;
}

.bold--17 {
  font-size: 1.0625rem;
  font-weight: 700;
}

.bold--18 {
  font-size: 1.125rem;
  font-weight: 700;
}

.bold--20 {
  font-size: 1.25rem;
  font-weight: 700;
}

.bold--22 {
  font-size: 1.375rem;
  font-weight: 700;
}

.bold--24 {
  font-size: 1.5rem;
  font-weight: 700;
}

.bold--26 {
  font-size: 1.625rem;
  font-weight: 700;
}

.bold--28 {
  font-size: 1.75rem;
  font-weight: 700;
}

.bold--30 {
  font-size: 1.875rem;
  font-weight: 700;
}

.bold--40 {
  font-size: 2.5rem;
  font-weight: 700;
}

.bold--55 {
  font-size: 3.4375rem;
  font-weight: 700;
}

.c--custom {
  max-width: 81.25rem;
}

/* button */
.btn-tag-1 {
  background: var(--color_purple);
  color: var(--color_white) !important;
  padding: 0.8rem 2rem;
  border-radius: .5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.btn-tag-1:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171717), to(#262626));
  background-image: linear-gradient(#171717, #262626);
  color: var(--color_white);
}

.big-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/beach.webp) no-repeat 50%;
  background-size: cover;
  width: 100%;
  min-height: 55rem;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
  margin-top: 5rem;
}

.big-img h2 {
  font-size: 5rem;
  line-height: .9;
  text-transform: uppercase;
  font-family: "Playfair Display",serif;
  color: var(--color_pink);
}
/*# sourceMappingURL=style.css.map */